
<div class="my-3">
    <button [routerLink]="['']" class="btn btn-primary">Back</button>
    <hr>
    <h2>From Event</h2>
    <br>
    <p>RxJS fromEvent() operator returns an observable that emits events of a specific type such as buttons, clicks, etc., when you target the given event.</p>
    <br>
    <p>Syntax of the fromEvent() creation operator:</p>
    <h6>&nbsp;fromEvent(target: eventtarget, eventName: string): Observable  </h6>
    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <button #addBtn class="btn btn-success">
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <ul id="elContainer2"></ul>
                </div>
            </div>
        </div>
    </div>
</div>