<div class="my-3">
    <button [routerLink]="['']" class="btn btn-primary">Back</button>
    <hr>
    <h2>toArray</h2>
    <br>
    <p>The RxJS toArray() operator is a utility operator used to collect all the values emitted by the source observable and emits them as an array when the source completes.</p>
    <br>
    <p>Syntax of the of() creation operator:</p>
    <h6>&nbsp;toArray(): OperatorFunction   </h6>
    <br>

    <div class="row">
        <div class="col-md-4">
            <Strong>by Interval Operator</Strong>
            <hr>
            <ul id="elContainer"></ul>
        </div>

        <div class="col-md-4">
            <Strong>By From Operator</Strong>
            <hr>
            <ul id="elContainer2"></ul>
        </div>

        <div class="col-md-4">
            <Strong>By Of Operator</Strong>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>