<div class="my-3">
    <button [routerLink]="['']" class="btn btn-primary">Back</button>
    <hr>
    <h2>Interval</h2>
    <br>
    <p>The RxJS interval() operator returns an observable that emits sequential numbers every specified interval of time. It emits an infinite sequence of ascending integers, with a constant interval of time of your choosing between emissions.</p>
    <br>
    <p>Syntax of the interval() creation operator:</p>
    <h6>&nbsp;interval(time): Observable</h6>
    <br>
    <br>
    <h2>Timer</h2>
    <br>
    <p>The RxJS timer() operator creates an observable that emits one particular item after a given delay or a span of time that we have specified earlier. It is like an RxJS interval() operator, but we can specify when the emissions should start.</p>
    <br>
    <p>Syntax of the interval() creation operator:</p>
    <h6>&nbsp;timer(dueTime: number | Date): Observable</h6>
    <br>

    <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">User 1</div>
            <div class="card-body">
                <ul id="elContainer"></ul>
           </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">User 2</div>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
    </div>
    </div>

 </div>   